<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Analyzing Your Text...</title>
  </head>
  <body>
    <h1>Your Analyzed Text - {{ purpose }}</h1>
    <p>{{ analyzed_text }}</p>
  </body>
</html>

<!-- <style>
  .textarea-styling {
    width: 513px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: both;
  }
</style> -->
<!-- <div
class="container"
style="
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
"
>
<div>
  <h1 style="display: flex; justify-content: center">Text Analyzer</h1>
  <form action="analyze" method="GET">
    <textarea
      name="text"
      class="textarea-styling"
      placeholder="Enter your text"
    ></textarea
    ><br />
    <input type="checkbox" name="removepunc" />Remove Punctuations
    <input type="checkbox" name="fullcaps" />UpperCase
    <input type="checkbox" name="newlineremover" />Newlineremover
    <input
      type="checkbox"
      name="extraspaceremover"
    />Extraspaceremover<br />
    <button type="submit">Analyze the text</button>
  </form> -->
